﻿@using Service.Services
@inject IAdminSectionService adminSectionService
@{
    var parentMenuitem =  adminSectionService.GetAllMenu().Where(x => x.ParentId == 0);
}
<ul class="navbar-nav ml-auto">
    @if (parentMenuitem?.Any() == true)
    {
        @foreach (var parentMenu in parentMenuitem.OrderBy(x=>x.OrderNumber))
        {
            var childMenuitem = adminSectionService.GetAllMenu().Where(x => x.ParentId == parentMenu.Id);
            if (childMenuitem?.Any() == true)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle @parentMenu.ClassName" href="~/@parentMenu.ControllerName/@parentMenu.Action"
                       id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @parentMenu.Title
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        @foreach (var childMenu in childMenuitem.OrderBy(x=>x.OrderNumber))
                        {
                            <a class="dropdown-item @childMenu.ClassName" href="~/@childMenu.ControllerName/@childMenu.Action">@childMenu.Title</a>
                        }
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link @parentMenu.ClassName" href="~/@parentMenu.ControllerName/@parentMenu.Action">@parentMenu.Title</a>
                </li>
            }

        }
    }
</ul>
