﻿@using Service.Services
@inject IAdminSectionService adminSectionService
@{
    var navbarDetails = adminSectionService.GetAllNavbar().FirstOrDefault();
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@navbarDetails.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/modern-business.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg @navbarDetails.ColorName fixed-top">
        <div class="container">
            <a class="navbar-brand" href="~/home">@navbarDetails.Title</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <partial name="_Navbar">
            </div>
        </div>
    </nav>

    @RenderBody()

    <!-- Footer -->
    <footer class="fixed-bottom py-2 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; todoNepal.com 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
